@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Imbue&family=Russo+One&display=swap');

   /* header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-image: url(/images/paint.jpg);
        color: rgb(172, 82, 20);
        font-family: 'Cinzel', serif;
               
      }

      h3 {
        font-family: 'Cinzel', serif;
        letter-spacing: 2px;
        text-transform: capitalize;
        text-decoration: underline;
        text-align: center;
      }


      /*navigation links */

      nav {
        color: white;
        text-align: center;
        margin-right: 30% ;
          }
      
      nav a {
        margin-right: 10px;
        text-decoration: none;
        color:white;
        font-weight: bold;
        display: inline;
      }
      
      /*content area */
      main {
        padding: 20px;
      }

      /*about-area */

    .about {
      width: auto;  
      margin-top: 10px;
      font-size: large;
      margin-left: 10px;
      margin-right: 45px;
    }

    /* extra services */

    #extra-service {
        display: inline-block;
        width: auto;  
        margin-top: 10px;
        font-size: large;
        margin-left: 10px;
        margin-right: 45px;
    }
    
    /* section line for new service */

    .section-line {
        height: 3px;
        background-color: rgb(198, 100, 25);
     
        width: 50%;
       
      }

/* image beneath about-me content */

img {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.about-img {
    background-image: url(/images/spliot\ room.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    
}
/* styling for other services boxes */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.box {
  width: 400px; 
  height: 300px; 
  border: rgb(198, 100, 25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

/* painting process */

#painting-process {
    background-image: url(/images/plain\ black\ wall.jpg);
    background-size: cover;
}

